:root {
    background-color: gray;
    color: peachpuff;
}

h1 {
    font-family: monospace;
    max-width: fit-content;
    margin: 3rem auto;
}

#control-bar {
    margin: auto;
    margin-bottom: 10px;
    max-width: fit-content;
}

#drawing-area {
    margin: auto;
    height: 480px;
    width: 480px;
    background-color: #462d8b;
    display: grid;
    grid-template: repeat(2, 1fr);
    gap: 3px;
}

#drawing-area div {
    width: 100%;
    height: 100%;
    background-color: #acc8c8;
}

#drawing-area div.lit {
    background-color: peachpuff;
}
